docker.enabled = false
github.repository = null

params {
  ref_genome = "data/ref/chr1.fa"
  samples = "config/samples.csv"
  outdir = "${launchDir}/resultss"
}

singularity {
  enabled = true
  autoMounts = true
  runOptions = "--bind ${launchDir}:/workspace:rw"
}

process {
  executor = 'local'
  container = ''
}

withName: MARKDUPLICATES {
  memory = '6 GB'
  cpus = 2
}

withName: GATK_HAPLOTYPECALLER {
  memory = '6 GB'
  cpus = 2
}

withName: 'ANNOTATE' {
        memory = '4 GB'
        cpus = 2
    }

process {
  withName: 'FASTQC' {
    memory = '4 GB'
  }
  withName: 'ALIGNMENT' {
    memory = '6 GB'
    cpus = 4
  }
}
